---

---


.dev {
  display: block;
}

:root {
  --border-style: solid;
  --border-radius: 0.25rem;
  --button-color: #98bb87;
  --button-hover-color: rgba(255, 255, 255, 0.5);
  --border-color: #98bb87;
  --border-color-collapsed: #98bb87;
  --button-color-collapsed: #98bb87;
}

body {
  color: #e6e6e6;
}

.sidebar {
  width: 350px;
  padding: 30px 50px 30px 10px;
}
.sidebar .sidebar-about h1 {
  margin-bottom: 2rem;
  line-height: 1.25;
}
.sidebar .sidebar-about h4 {
  font-size: 18px;
  margin: 0 0 20px 0;
  font-weight: 400;
  color: #8f8f8f;
}
.sidebar .sidebar-about ul {
  padding: 0 0 0 20px;
}
.sidebar .sidebar-about li {
  line-height: 2rem;
  color: #8f8f8f;
  font-weight: 400;
}
.sidebar .sidebar-about-notes {
  font-style: italic;
  margin: 150px 0 30px 0;
  font-size: 13px;
}
.sidebar .sidebar-about-notes h6 {
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  color: #8f8f8f;
}
.sidebar .sidebar-about-notes p {
  font-size: 13px;
}
.sidebar .sidebar-about-notes a {
  color: #6c8461;
  text-decoration: none;
  display: inline;
}
.sidebar .sidebar-about-notes ul {
  padding: 0 0 0 20px;
}
.sidebar .sidebar-about-notes li {
  line-height: unset;
  font-weight: 300;
}

#treeSolve {
  padding-bottom: 200px;
  position: relative;
}
#treeSolve ol {
  padding: 0 0 0 40px;
}
#treeSolve strong {
  font-weight: 600;
  letter-spacing: 0.25px;
}
#treeSolve .nt-fr-main-logo img {
  margin: 60px 20px 20px 0;
  display: block;
  width: 100px;
  float: none;
}
#treeSolve .nt-fr-ul-header {
  margin: 0 0 5px 0;
}
#treeSolve .nt-fr-comment-stars {
  margin: 100px 0;
  font-size: 30px;
  text-align: center;
  color: #728ed7;
}
#treeSolve .nt-fr-comment {
  margin: 100px 0;
  text-align: center;
  color: #728ed7;
  font-style: italic;
}
#treeSolve .nt-fr-centre {
  text-align: center;
}
#treeSolve .nt-fr-divider {
  margin: 100px auto 100px auto;
  width: 50%;
  border-color: #728ed7;
}
#treeSolve .nt-fr-italic {
  font-style: italic;
}
#treeSolve .nt-fr-columns,
#treeSolve .nt-fr-columns-header {
  padding: 5px;
  margin: 0;
}
#treeSolve .nt-fr-columns td,
#treeSolve .nt-fr-columns-header td {
  padding: 5px 15px;
}
#treeSolve .nt-fr-columns td:nth-child(1),
#treeSolve .nt-fr-columns-header td:nth-child(1) {
  width: 120px;
  font-weight: 500;
}
#treeSolve .nt-fr-columns td:nth-child(2),
#treeSolve .nt-fr-columns-header td:nth-child(2) {
  padding-left: 10px;
  padding-right: 20px;
}
#treeSolve .nt-fr-columns td:nth-child(3),
#treeSolve .nt-fr-columns-header td:nth-child(3) {
  width: 220px;
}
#treeSolve .nt-fr-columns-header {
  font-weight: 500;
}
#treeSolve .nt-fr-big-image {
  margin: 50px auto;
  padding: 0 20px 0 0;
  float: none;
}
#treeSolve .nt-fr-mid-image {
  margin: 50px auto;
  width: 70%;
  float: none;
}
#treeSolve .nt-fr-small-image {
  width: auto;
  height: auto;
  display: block;
  transform: scale(0.65);
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  float: none;
  margin: 0;
  transform-origin: left center;
}
#treeSolve .underline {
  text-decoration: underline;
  text-decoration-color: #9e9e9e;
}
#treeSolve h3 {
  margin-top: 4rem;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box.nt-fr-prior-collapsed-options {
  margin-top: 20px;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box.nt-fr-prior-is-ancillary > .nt-fr-fragment-discussion > p:first-child, #treeSolve #treeSolveFragments .nt-fr-fragment-box.nt-fr-prior-is-ancillary > .nt-fr-fragment-discussion > ul:first-child {
  margin-top: 50px;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box .nt-fr-pod-box > .nt-fr-fragment-box > .nt-fr-fragment-discussion {
  padding: 0 0 0 20px;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box .nt-fr-pod-box > .nt-fr-fragment-box > .nt-fr-fragment-discussion h4:first-child,
#treeSolve #treeSolveFragments .nt-fr-fragment-box .nt-fr-pod-box > .nt-fr-fragment-box > .nt-fr-fragment-discussion h5:first-child {
  margin-top: 20px;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box.nt-ur-split-table .nt-fr-pod-box > .nt-fr-fragment-box > .nt-fr-fragment-discussion, #treeSolve #treeSolveFragments .nt-fr-fragment-box.nt-ur-split-table-odd .nt-fr-pod-box > .nt-fr-fragment-box > .nt-fr-fragment-discussion {
  padding: 0;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box.nt-ur-split-table .nt-fr-ancillary-box.nt-fr-collapsed, #treeSolve #treeSolveFragments .nt-fr-fragment-box.nt-ur-split-table-odd .nt-fr-ancillary-box.nt-fr-collapsed {
  padding-bottom: 5px;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box .nt-fr-pod-button {
  width: 100%;
  font-size: unset;
  padding: 10px 0 5px 0;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box .nt-fr-pod-button .nt-fr-ancillary-box {
  margin-right: 5px;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box .nt-fr-pod-button .nt-fr-ancillary-text {
  padding: 0 10px;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box .nt-fr-pod-button .nt-fr-option-text {
  padding: 0 0 0 20px;
  position: relative;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box .nt-fr-fragment-options.nt-fr-collapsed.nt-fr-pod-button {
  display: block;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box .nt-fr-fragment-options.nt-fr-collapsed.nt-fr-pod-button .nt-fr-option-selected {
  display: none;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box .nt-fr-fragment-options.nt-fr-collapsed > .nt-fr-pod-box > .nt-fr-fragment-box > .nt-fr-fragment-ancillaries > .nt-fr-ancillary-box.nt-fr-collapsed {
  padding-bottom: 0;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box .nt-fr-fragment-ancillaries .nt-fr-ancillary-box.nt-fr-collapsed:last-child {
  padding-bottom: 0;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box .nt-fr-ancillary-box.nt-fr-collapsed .nt-fr-ancillary-head {
  margin-bottom: 0;
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-box {
  margin-right: -200px;
  display: flex;
  flex-direction: column;
  background-color: rgba(108, 134, 253, 0.1);
  padding: 0 0 5px 20px;
  margin-left: 100px;
  border-radius: var(--border-radius);
  color: #e6e6e6;
  margin-bottom: 10px;
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-box.nt-fr-collapsed {
  background-color: transparent;
  margin-bottom: 0;
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-box.nt-fr-collapsed .nt-fr-ancillary {
  padding: 5px 20px;
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-box.nt-fr-collapsed .nt-fr-ancillary > .nt-fr-ancillary-text {
  display: none;
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-box.nt-fr-collapsed .nt-fr-ancillary > .nt-fr-ancillary-x {
  display: block;
  font-weight: 700;
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-box .nt-fr-ancillary-head {
  justify-content: right;
  display: flex;
  margin-bottom: -30px;
  z-index: 1000;
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-box .nt-fr-ancillary-box {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: transparent;
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-box .nt-fr-ancillary-box.nt-fr-collapsed > .nt-fr-ancillary-head {
  margin-bottom: 0;
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-box .nt-fr-ancillary {
  margin: 0;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  cursor: pointer;
  border-width: 0.571429px;
  border-color: var(--border-color);
  border-style: solid;
  border-radius: var(--border-radius);
  text-decoration: none;
  box-sizing: border-box;
  color: var(--button-color);
  padding: 5px 11px;
  position: relative;
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-box .nt-fr-ancillary:hover {
  border-color: var(--button-hover-color);
  background-color: rgba(255, 255, 255, 0.1);
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-box .nt-fr-ancillary:hover .nt-fr-option-selected {
  color: #fff;
  border-color: transparent;
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-box .nt-fr-ancillary > .nt-fr-ancillary-text {
  display: none;
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-box .nt-fr-ancillary > .nt-fr-ancillary-x {
  display: block;
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-box .nt-fr-fragment-box.nt-fr-prior-is-ancillary > .nt-fr-fragment-discussion > p:first-child, #treeSolve #treeSolveFragments .nt-fr-ancillary-box .nt-fr-fragment-box.nt-fr-prior-is-ancillary > .nt-fr-fragment-discussion > ul:first-child {
  margin-top: 20px;
}
#treeSolve #treeSolveFragments .nt-ur-split-table .nt-fr-fragment-ancillaries {
  margin-bottom: 40px;
}
#treeSolve #treeSolveFragments .nt-ur-split-table .nt-fr-fragment-options.nt-fr-collapsed {
  padding: 0;
}
#treeSolve #treeSolveFragments .nt-ur-split-table .nt-fr-fragment-options.nt-fr-collapsed .nt-fr-ancillary-box {
  margin-right: 5px;
}
#treeSolve #treeSolveFragments .nt-ur-split-table > .nt-fr-fragment-ancillaries > .nt-fr-ancillary-box {
  margin-top: 5px;
  margin-bottom: 5px;
}
#treeSolve #treeSolveFragments .nt-ur-split-table table {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
}
#treeSolve #treeSolveFragments .nt-ur-split-table table td {
  border-bottom-style: none;
}
#treeSolve #treeSolveFragments .nt-ur-split-table > .nt-fr-fragment-ancillaries > .nt-fr-collapsed > .nt-fr-ancillary-head > .nt-fr-ancillary {
  width: 180px;
}
#treeSolve #treeSolveFragments .nt-ur-split-table .nt-fr-fragment-options {
  padding-top: 0;
}
#treeSolve #treeSolveFragments .nt-ur-split-table-odd .nt-fr-fragment-ancillaries {
  margin-bottom: 40px;
}
#treeSolve #treeSolveFragments .nt-ur-split-table-odd .nt-fr-fragment-options.nt-fr-collapsed {
  padding: 0;
}
#treeSolve #treeSolveFragments .nt-ur-split-table-odd .nt-fr-fragment-options.nt-fr-collapsed .nt-fr-ancillary-box {
  margin-right: 5px;
}
#treeSolve #treeSolveFragments .nt-ur-split-table-odd > .nt-fr-fragment-ancillaries > .nt-fr-ancillary-box {
  margin-top: 5px;
  margin-bottom: 5px;
}
#treeSolve #treeSolveFragments .nt-ur-split-table-odd table {
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
}
#treeSolve #treeSolveFragments .nt-ur-split-table-odd table td {
  border-bottom-style: none;
}
#treeSolve #treeSolveFragments .nt-ur-split-table-odd > .nt-fr-fragment-ancillaries > .nt-fr-collapsed > .nt-fr-ancillary-head > .nt-fr-ancillary {
  width: 180px;
  text-align: center;
}
#treeSolve #treeSolveFragments .nt-fr-option {
  border: 0.571429px solid var(--border-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--button-color);
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 16px 30px;
  margin: 0 0 20px 0;
  min-width: 0;
}
#treeSolve #treeSolveFragments .nt-fr-option:hover {
  color: #fff;
  text-decoration-line: none;
  background-color: rgba(0, 0, 0, 0.3);
}
#treeSolve #treeSolveFragments .nt-fr-option.nt-fr-pod-button .nt-fr-ancillary-box .nt-fr-fragment-discussion {
  color: #fff;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-box .nt-fr-ancillary-box .nt-fr-ancillary-box {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-options {
  margin: 0;
  padding: 45px 0;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-options.nt-fr-collapsed {
  padding: 5px 20px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  cursor: pointer;
  border-width: 0.571429px;
  border-color: var(--border-color-collapsed);
  color: var(--button-color);
  color: var(--button-color-collapsed);
  border-style: solid;
  border-radius: var(--border-radius);
  text-decoration: none;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-options.nt-fr-collapsed:hover {
  border-color: var(--button-hover-color);
  background-color: rgba(0, 0, 0, 0.3);
}
#treeSolve #treeSolveFragments .nt-fr-fragment-options.nt-fr-collapsed:hover .nt-fr-option-selected {
  color: #fff;
  border-color: transparent;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-options.nt-fr-collapsed .nt-fr-option-selected {
  box-sizing: border-box;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-options.nt-fr-collapsed.nt-fr-pod-button {
  padding: 5px 0;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-options .nt-fr-options-box {
  border-radius: 0;
  border-top: 0.571429px solid var(--border-color);
  padding: 8px 20px 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  position: absolute;
  background-color: rgb(30, 30, 30);
  opacity: 0;
  height: 0px;
  width: 0px;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-options .nt-fr-options-box .nt-fr-option {
  display: block;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-options .nt-fr-options-box:hover {
  opacity: 1;
  height: unset;
  width: unset;
}
#treeSolve #treeSolveFragments .nt-fr-fragment-options .nt-fr-options-box .nt-fr-option-selected {
  box-sizing: border-box;
  color: var(--button-color);
  margin: 0;
}
#treeSolve #treeSolveFragments .nt-fr-ancillary-head + .nt-fr-fragment-box .nt-fr-fragment-discussion > p:first-child, #treeSolve #treeSolveFragments .nt-fr-ancillary-head + .nt-fr-fragment-box .nt-fr-fragment-discussion > ul:first-child {
  margin-top: 36px;
  /* Additional styling for visual indication */
}
#treeSolve a > img {
  margin: 5px 10px 0 0;
  float: left;
}
#treeSolve table {
  border: none;
  background-color: transparent;
  margin: 20px 10px;
  font-size: 14px;
  font-weight: 300;
  color: #e6e6e6;
  margin: 30px 0;
  width: calc(100% - 20px);
}
#treeSolve thead {
  border: none;
  background-color: transparent;
}
#treeSolve tbody {
  background-color: transparent;
}
#treeSolve th {
  border: none;
  background-color: transparent;
  border-width: 1px;
  border-style: solid none solid none;
  border-color: rgba(255, 255, 255, 0.7);
  text-align: left;
}
#treeSolve td {
  border: none;
  background-color: transparent;
  vertical-align: top;
  border-bottom-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
}
#treeSolve pre code {
  color: #a4cac1;
}
#treeSolve code {
  color: #61bf97;
}
#treeSolve blockquote {
  color: #e6e6e6;
  border-color: #326696;
}
#treeSolve hr {
  border-top: 1px solid #326696;
  border-bottom-style: none;
  width: calc(100% - 20px);
  margin: 3rem 0 1rem 0;
}
#treeSolve h2 + h3,
#treeSolve h3 + h4 {
  margin-top: 1.5rem;
}
#treeSolve .nt-tp-iframe-video-box {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
#treeSolve .nt-tp-video-view {
  position: relative;
}

@media (max-width: 1600px) {
  #treeSolve #treeSolveFragments .nt-fr-ancillary-box {
    margin-right: -100px;
  }
}
@media (max-width: 1400px) {
  #treeSolve #treeSolveFragments .nt-fr-ancillary-box {
    margin-right: -50px;
  }
}
@media (max-width: 1300px) {
  #treeSolve #treeSolveFragments .nt-fr-ancillary-box {
    margin-right: 0;
  }
}
@media (max-width: 1000px) {
  .sidebar {
    padding-right: 15px;
    width: 315px;
  }
  #treeSolve #treeSolveFragments .nt-fr-ancillary-box {
    margin-left: 50px;
  }
}
@media (max-width: 900px) {
  .hamburger {
    display: block;
    background-color: #111111;
  }
  .main-content {
    padding: 10px 3px 10px 20px;
  }
  .box-inner .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #111111;
    transform: translateY(-100%);
    height: unset;
    width: 100%;
  }
  .box-inner .sidebar p {
    max-width: unset;
  }
  .box-inner .sidebar .sidebar-about h4 {
    margin-bottom: 6px;
  }
  .box-inner .sidebar .sidebar-about-notes {
    margin: 50px 0 0 0;
  }
  .box-inner .sidebar .sidebar-about-notes P {
    margin: 0;
  }
  #boxOuter.show-sidebar .sidebar {
    transform: translateY(0);
    top: 0;
    right: unset;
    height: unset;
    overflow: hidden;
  }
  #boxOuter.show-sidebar .hamburger div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 4.5px);
  }
  #boxOuter.show-sidebar .hamburger div:nth-child(2) {
    opacity: 0;
  }
  #boxOuter.show-sidebar .hamburger div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -4.5px);
  }
  #treeSolve #treeSolveFragments .nt-fr-ancillary-box {
    margin-left: 100px;
  }
}
@media (max-width: 700px) {
  #treeSolve #treeSolveFragments .nt-fr-ancillary-box {
    margin-left: 50px;
  }
}